@model SliderListModel

@foreach (var slider in Model.Sliders)
{
    var bg = slider.ShowBackgroundPicture ? $"style=\"background:url('{slider.BackgroundPictureUrl}') no-repeat center; background-size: cover;\"" : "";

    <div class="slider-grid @Html.Raw(slider.ShowBackgroundPicture? "slider-grid-background" : "")" @bg>
        <div class="slider-container " data-sliderid="@slider.Id">
            <div class="loader">
                <img src="@Url.Content("~/Plugins/NopStation.Plugin.Widgets.AnywhereSlider/Content/images/loader.gif")" />
            </div>
        </div>
    </div>
}