.shop-page .cosmetics .brand-cosmetics {
  display: flex;
  justify-content: space-between;
}
.shop-page .cosmetics .brand-cosmetics .cosmetics-brand {
  display: flex;
  flex-direction: column;
}
.shop-page .decora-crafts .img-decora {
  width: 100%;
}
.shop-page .our-clients .logo-clients {
  max-width: 134px;
  max-height: 100px;
  margin: 20px;
}
