<my-header>



    <section class="header" id="header">


        <div id="top-promotion" class="top-promotion promotion style-1">
            <div class="container">
                <div class="promotion-content">
                    <div class="promo-inner">
                        <div class="promo-left">
                            <h2 class="percent primary-color">20%</h2>
                            <div>
                                <span class="label">Discount</span>
                                <h3>For Books Of March</h3>
                            </div>
                        </div>
                        <div class="promo-right">
                            <span class="label">Enter Prmotion Code</span>
                            <h4 class="primary-color">Sale2023</h4>
                        </div>
                    </div>
                    <div class="promo-link">
                        <a class="link" href="https://wpmartfury.com/marketplace/product/grand-slam-indoor-of-show-jumping-novel/">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>






        <div id="topbar" class="topbar ">
            <div class="container">
                <div class="row topbar-row">
                    <div class="topbar-left topbar-sidebar col-xs-12 col-sm-12 col-md-5 hidden-xs hidden-sm">
                        <div id="custom_html-1" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">Welcome to Konnectall Online Shopping Store !</div>
                        </div>
                    </div>


                    <div class="topbar-right topbar-sidebar col-xs-12 col-sm-12 col-md-7 hidden-xs hidden-sm">
                        <div id="custom_html-2" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div id="lang_sel">
                                    <ul>
                                        <li>
                                            <a href="#" class="lang_sel_sel icl-en">

                                                English
                                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                            </a>
                                            <ul>
                                                <li class="icl-fr">
                                                    <a href="#">

                                                        French
                                                    </a>
                                                </li>
                                                <li class="icl-de">
                                                    <a href="#">
                                                        German
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="custom_html-3" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="mf-currency-widget">
                                    <div class="widget-currency">
                                        <span class="current">
                                            US Dollar
                                            <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                        <ul>
                                            <li class="actived"><a href="#" class="woocs_flag_view_item woocs_flag_view_item_current" data-currency="USD">US Dollar</a></li>
                                            <li>
                                                <a href="#" class="woocs_flag_view_item" data-currency="EUR">European Euro</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="custom_html-4" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget"> <a href="#">Track Your Order</a></div>
                        </div>
                        <div id="custom_html-5" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget"> <a href="#">Store Location</a></div>
                        </div>
                    </div>

                    <div class="topbar-mobile topbar-sidebar col-xs-12 col-sm-12 hidden-lg hidden-md">
                        <div id="custom_html-6" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="mf-currency-widget">
                                    <div class="widget-currency">
                                        <span class="current">
                                            US Dollar
                                            <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                        <ul>
                                            <li class="actived"><a href="#" class="woocs_flag_view_item woocs_flag_view_item_current" data-currency="USD">US Dollar</a></li>
                                            <li>
                                                <a href="#" class="woocs_flag_view_item" data-currency="EUR">European Euro</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="custom_html-7" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div id="lang_sel">
                                    <ul>
                                        <li>
                                            <a href="#" class="lang_sel_sel icl-en">
                                                English
                                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                            </a>
                                            <ul>
                                                <li class="icl-fr">
                                                    <a href="#">

                                                        French
                                                    </a>
                                                </li>
                                                <li class="icl-de">
                                                    <a href="#">

                                                        German
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



















        <div class="header-main">
            <div class="container clearfix">
                <div class="header-main-left">
                    <a href="index.html">
                        <img class="logo" src="./images/header/logo1.png">
                    </a>
                </div><a href="index.html">
                </a><div class="header-main-right">
                    <a href="index.html">
                        <div id="search-mobile" class="search-mobile">
                            <img class="search-icon" src="./images/header/search.png">
                            <input type="text" placeholder="search">
                            <div class="close-btn">
                                <img src="" class="btn-close" id="btn-close">
                            </div>
                        </div>
                    </a><div id="topbar-menu" class="topbar-menu">
                        <a href="index.html">
                            <div class="search">
                                <input type="text" placeholder="search">
                                <img id="search-icon" class="search-icon" src="./images/header/search.png">
                            </div>
                        </a><a href="#" class="btn btn-login">login in</a>
                        <a href="#" class="btn btn-account">Create account</a>
                        <a href="#"><img class="brand-icon" src="./images/header/brand.png"></a>
                        <a href="#" class="icon-cart"><img class="cart-icon" src="./images/header/cart.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="container">
                <div class="horizantal-menu">
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children">
                            <a class="font-medium text-black" href="get-to-know.html">
                                Get to know us
                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <div class="mega-menu-wrap">
                                <div class="mega-menu-products-inners container">
                                    <ul class="top-menu">
                                        <li class="top-menu-item">
                                            <a href="#">What is Konnect all?</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">About us</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Join the team</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a class="font-medium text-black" href="our-solutions.html">
                                Our Solutions
                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a class="font-medium text-black" href="#">
                                Technology and Operations
                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a class="font-medium text-black" href="#">
                                Grossiste dropshipping
                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="font-medium text-black" href="#">Auctions</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a class="font-medium text-black" href="B2B-category.html">
                                B2B Shop
                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                            </a>

                            <div class="mega-menu-wrap">
                                <div class="mega-menu-products-inners container">
                                    <ul class="top-menu">
                                        <li class="top-menu-item">
                                            <a href="#">
                                                All Categories
                                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                            </a>

                                            <div class="menu-children">
                                                <div class="product-menu-item">
                                                    <ul class="top-1v1-menu">
                                                        <li>
                                                            <a href="#">
                                                                <img class="data-collection" src="./images/menu/dates-collections.png">
                                                                <span>Date collection</span>
                                                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/candy-collection.png">
                                                                <span>Candy collection</span>
                                                                <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/fresh-collection.png">
                                                                <span>Fruit collection</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/fresh-fruit.png">
                                                                <span>Fresh fruit</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/baverages.png">
                                                                <span>Baverages</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/cosmetics.png">
                                                                <span>Cosmetics</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/chocolate.png">
                                                                <span>Chocolate</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/fashion.png">
                                                                <span>Fashion</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/home-&amp;-garden.png">
                                                                <span>Home &amp; Garden</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/electronics.png">
                                                                <span>Electronics</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/fourniture.png">
                                                                <span>Furniture</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/medic-equi.png">
                                                                <span>Medical equipement</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/accessoire.png">
                                                                <span>Accessories</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <img src="./images/menu/dates-collections.png">
                                                                <span>All categories</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">New Products</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Top-Selling</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Hot deals</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Back in Stock</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Refurbished</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">By supplier</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">Gifts</a>
                                        </li>
                                        <li class="top-menu-item">
                                            <a href="#">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mobile-display">
                    <div class="toggle-nav-menu" id="toggle-menu">
                        <div class="burg-icon">
                            <div class="burg"></div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-wrap" id="mobile-menu">
                    <nav class="mobile-menu navigation-menu">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">Get to know us</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">Our Solutions</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">Technology and Operations</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">Grossiste dropshipping</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">Auctions</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-medium text-black" href="#">B2B Shop</a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</my-header>