@model ManufacturerFilterModel


<div class="sidebar-inner ManufacturerFilter">
    <div class="sidebar-item">
        <div class="sidebar-title">
            <h5 class="text-left">
                <i class="fa fa-arrow-circle-right"></i>
                <strong>@T("Filtering.ManufacturerFilter")</strong>
            </h5>
        </div>
        <div class="filter-content">
            <ul class="sidebar-content">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="item">
                        <input id="attribute-manufacturer-@manufacturer.Value" type="checkbox" data-manufacturer-id="@manufacturer.Value" checked="@manufacturer.Selected" />
                        <label for="attribute-manufacturer-@manufacturer.Value">
                            @manufacturer.Text
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



<script asp-location="Footer">
    $(document).ready(function () {
        var $msEls = $('[data-manufacturer-id]');
        $msEls.on('change', function () {
            CatalogProducts.getProducts();
        });

        $(CatalogProducts).on('before', function (e) {
            var selectedMs = $.map($msEls, function (el) {
                var $mEl = $(el);
                if ($mEl.is(':checked')) return $mEl.data('manufacturer-id')
                return null;
            });

            if (selectedMs && selectedMs.length > 0) {
                e.payload.urlBuilder
                    .addParameter('ms', selectedMs.join(','));
            }
        });
    });
</script>