@*
    // ***	 ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **	  **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **	  **  ** *******     *     **  ** **   *** **** ****
    //
    // **************************************************************************
    // *                                                                		*
	// *           Admin Layout Changer Plugin by NopAdvance team               *
    // *			Copyright (c) NopAdvance LLP. All Rights Reserved			*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Email:		contact@nopadvance.com										*
    // * Website:	https://nopadvance.com										*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Please see the  License file for the full End User License Agreement. 	*
    // * The  complete license agreement is also available on  our  website at 	*
    // * https://nopadvance.com/license-terms									*
    // *                                                                       	*
    // * This  software / plugin  is furnished  under a license  and  may   be  *
    // * used  and modified  only in accordance with the terms of such license  *
    // * and with the inclusion of the above copyright notice.  This  software	*
    // * or any other copies thereof may not be  provided  or  otherwise  made	*
    // * available  to any other person.  No title to  and  ownership  of  the  *
    // * software is hereby transferred.                                        *
    // *                                                                       	*
    // * You may not reverse  engineer, decompile, defeat  license  encryption 	*
    // * mechanisms  or  disassemble this software product or software product 	*
    // * license.  NopAdvance may terminate this  license if you don't  comply 	*
    // * with any of the terms & conditions set forth in our  end user license	*
    // * agreement (EULA).  In such event , licensee agrees to return licensor	*
    // * or destroy  all copies of software  upon termination  of the license.	*
    // *                                                                       	*
    // **************************************************************************
*@
@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="IgnoreAcl" />
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="IgnoreAcl" />
            <span asp-validation-for="IgnoreAcl"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="IgnoreStoreLimitations" />
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="IgnoreStoreLimitations" />
            <span asp-validation-for="IgnoreStoreLimitations"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="IgnoreDiscounts" />
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="IgnoreDiscounts" />
            <span asp-validation-for="IgnoreDiscounts"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="IgnoreFeaturedProducts" />
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="IgnoreFeaturedProducts" />
            <span asp-validation-for="IgnoreFeaturedProducts"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="CacheProductPrices" />
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="CacheProductPrices" />
            <span asp-validation-for="CacheProductPrices"></span>
        </div>
    </div>
</div>
